<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="~/css/Forgotten.css">
    <script src="js/ForgottenPw.js" defer></script>
</head>
<body>
    <div class="container">
        <img src="/logo.png" class="logo"/>
        <div class="tab-container">
            <div class="tab inactive" onclick="location.href='ForgottenId.html'">아이디 찾기</div>
            <div class="tab active">비밀번호 찾기</div>
        </div>
        <div class="input-container">
            <div class="input-group">
                <div class="input-wrapper">
                    <input type="text" class="input-field" id="id" />
                    <div class="input-label">아이디</div>
                    <div class="error-message" id="idError"></div>
                </div>
                <div class="input-wrapper email-group">
                    <div class="email-wrapper">
                        <input type="email" class="input-field" id="email" />
                        <button class="verification-button" onclick="sendVerificationCode()">받기</button>
                    </div>
                    <div class="input-label">이메일</div>
                    <div class="error-message" id="emailError"></div>
                </div>
                <div class="input-wrapper">
                    <input type="text" class="input-field" id="code" />
                    <div class="input-label">인증코드</div>
                    <div class="error-message" id="codeError"></div>
                </div>
            </div>
            <div class="button" onclick="validateForm()">확인</div>
        </div>
    </div>
</body>
</html>
