<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀 모집 게시판</title>
    <link rel="stylesheet" href="../static/css/TeamRecruitBoard.css">
    <script defer src="../static/js/TeamRecruiBoard.js"></script>
</head>
<body>
    <iframe src="navbar.html" frameborder="0" style="width: 100%; height: 93px;"></iframe>
    <div class="container">
        <div class="header">
            <h1>팀 모집 게시판</h1>
            <button class="write-btn" onclick="location.href='Post.html'">글쓰기</button>
        </div>
        <div id="posts-container"></div>
        <div class="pagination" id="pagination"></div>
    </div>
</body>
</html>
